/* State label style */
.timerstate {
  font-family: 'Quicksand', sans-serif;
  font-size: 38px;
}

/* Timer face */
.timeLabel {
  font-family: 'Quicksand', sans-serif;
  font-size: 96px;
}

/* Work circles */
@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#currentCircle {
  animation: blink 1s linear;
  animation-iteration-count: infinite;
}

/* Buttons */
.button {
  background: none;
  border: none;
  outline: none;
}
.buttonCaption {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  fill: white;
}
.buttonPath {
  fill: rgb(237, 28, 36);
}
.buttonPath, #skip {
  transition: fill 0.25s;
}
.buttonPath:hover {
  fill: rgb(170, 29, 33);
}

/* Skip buton styling */
.skip-working {
  transition: fill .15s;
  fill: rgb(237, 28, 36);
}
.skip-working:hover {
  fill: rgb(170, 29, 33);
}

.skip-break {
  transition: fill .15s;
  fill: #009245;
}
.skip-break:hover {
  fill: #006931;
}

.skip-long_break {
  transition: fill .15s;
  fill: rgb(41, 171, 226);
}
.skip-long_break:hover {
  fill: rgb(35, 143, 189);
}