/* State label style */
.timerstate {
  font-family: 'Quicksand', sans-serif;
  font-size: 38px;
}

/* Timer face */
.timeLabel {
  font-family: 'Quicksand', sans-serif;
  font-size: 96px;
}

/* Buttons */
.button {
  background: none;
  border: none;
  outline: none;
}
.buttonCaption {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  fill: white;
}

/* Skip buton styling */
.buttonPath {
  fill: rgb(237, 28, 36);
}
.skip-working {
  transition: fill .15s;
  fill: rgb(237, 28, 36)
}
.skip-break {
  transition: fill .15s;
  fill: #009245;
}
.skip-long_break {
  transition: fill .15s;
  fill: rgb(41, 171, 226);
}