.appheader {
    background-color: rgb(237, 28, 36);
}
.appname {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: white;
}
.crownButton {
    background: none;
    border: none;
    outline: none;
}
.crown_path {
    transition: fill .25s;
    fill: white;
}
.crown_path-hovered {
    transition: fill .25s;
    fill: rgb(206, 206, 206);
}

/* Popup */
#closeIcon {
    transition: fill 0.25s;
    fill: #231F20;
}
#closeIcon-hovered {
    transition: fill 0.25s;
    fill: gray;
}
#okButton {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    padding: 5px 15px;
}