/* overriding buttons' style */
#closeButton, .switchButton {
  background: none;
  border: none;
  outline: none;
}

.popupInner {
  border: 15px solid white;
  border-radius: 15px;
}

#settingsLabel {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
#timerSettingsLabel {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.popupInner span {
  font-family: 'Source Sans Pro', sans-serif;
}
.leftslot {
  font-family: 'Source Sans Pro', sans-serif;
}