.popupBox {
  display: none;
}
.popupBox-displayed {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: auto;
}
.popupInner {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background: white;
  min-width: 215px;
  /* min-height: 435px; */
}

.popupInner > input {
  overflow: hidden;
}

.settingsHeader {
  display: flex;
  flex-direction: row;
}
#settingsLabel, #timerSettingsLabel { 
  margin: auto auto auto 10px;
}
#closeButton {
  margin-left: auto;
}

.field {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
 
.generalSettings {
  margin-bottom: 15px;
}
.leftslot {
  margin: auto 15px auto 0;
}
.rightSlot {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  margin-left: auto;
}

#okButton {
  margin: auto;
}

@media screen and (max-width: 660px) {
  .popupInner {
    height: 80%;
    width: 71.5%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 15%;
    margin: auto;
    min-width: unset;
  }
  .popupInner input {
    z-index: 1000;
    width: 100%;
  }
  .field {
    flex-direction: column;
    text-align: center;
  }
  .rightSlot {
    margin: 5px auto;
  }
}

@media screen and (max-height: 570px) {
  .popupInner {
    top: 5%;
    bottom: 5%;
    height: 90%;
  }
}